# © 2026 WiamLabs. All rights reserved.

NEXT_PUBLIC_SITE_URL=https://wiamlabs.com
NEXT_PUBLIC_WIAMAPP_URL=https://wiamapp.com
NEXT_PUBLIC_WIAMTRADE_URL=https://t.me/WiamTradeBot

RESEND_API_KEY=
CONTACT_TO_EMAIL=hello@wiamlabs.com
CONTACT_FROM_EMAIL=hello@wiamlabs.com
